<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NEventStore" version="5.1.0" targetFramework="net45" />
  <package id="SystemDotBootstrapping" version="1.0.4" targetFramework="net45" />
  <package id="SystemDotCore" version="3.1.2" targetFramework="net45" />
  <package id="SystemDotDomain" version="3.6.6" targetFramework="net45" />
  <package id="SystemDotEnvironment" version="1.0.1" targetFramework="net45" />
  <package id="SystemDotEventSourcing" version="6.0.2" targetFramework="net45" />
  <package id="SystemDotIoc" version="1.2.0" targetFramework="net45" />
  <package id="SystemDotMessaging" version="2.1.0" targetFramework="net45" />
  <package id="SystemDotReflection" version="1.0.2" targetFramework="net45" />
  <package id="SystemDotThreadMarshalling" version="1.0.3" targetFramework="net45" />
</packages>